*{
  font-family: 'Courier New', Courier, monospace;
  background-color: #de3163;
}
.header{
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 100px;
  width: 40px;
  margin: 40px;
  margin-left: 220px;
  margin-right: 220px;
  border-radius: 10px;
}
.headerText{
  background-color: yellow;
  font-weight: bold !important;
  font-size: 2rem !important;
  text-align: center;
  color: black;
}
.container{
  display: flex;
  flex-direction: column;
}
.customCard{
  background-color: yellow !important;
}
.users{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-around;
}
.revenue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}